{# PART 1 start #}
<section class="header">
  <div class="welcome-bar bgc-1" id="header">
    <!-- Fox walking image -->
    <!-- Image borrowed and edited from https://pngtree.com/free-animal-vectors/fox -->
    <div id="fox-top" class="position-absolute d-none d-md-block">
      <img src="{{ url_for('static', filename='images/green_fox_night_cropped.png') }}"
           height="150" class=""
           alt="No image found">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Image borrowed and edited from https://pngtree.com/free-animal-vectors/fox -->
        <a class="navbar-brand top-bar" href="{{ url_for('core.index') }}">
          <img id="fox-icon"
               src="{{ url_for('static', filename='images/green_fox_logo1.png') }}"
               class="d-inline-block align-top rounded"
               alt="No image found"> Verdant Fox
        </a>

        <ul class="navbar-nav">
          {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="dropdown-toggle nav-link" href="#"
                  id="dropdownMenuLink" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                Welcome, {{ current_user.username }}&nbsp;
                {% if current_user.picture %}
                  <img src="{{ current_user.picture }}"
                        height="30rem"
                        alt="Image not found" class="rounded"
                        id="thumbnail-profile-img">
                {% else %}
                  <i class="fas fa-user"></i>
                {% endif %}
              </a>
              <div id="main-dropdown" class="dropdown-menu position-absolute" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for('users.profile') }}">
                  <i class="fas fa-user"></i> View Profile
                </a>
                <a class="dropdown-item" href="{{ url_for('users.edit_profile') }}">
                  <i class="fas fa-edit"></i> Edit Profile
                </a>
                <a class="dropdown-item" href="{{ url_for('users.account_settings') }}">
                  <i class="fas fa-cog"></i> Settings
                </a>
                <a class="dropdown-item" href="{{ url_for('users.logout') }}">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </a>
              </div>
            </li>
          {% else %}
            <br><br>
            <li class="nav-item">
              <a class="nav-link mr-auto" href="{{ url_for('users.login') }}">
                  <i class="fas fa-sign-in-alt"></i><span class="pad"></span>Login
              </a>
              <a class="nav-link mr-auto" href="{{ url_for('users.register') }}">
                <i class="fas fa-user-plus"></i><span class="pad"></span>Register
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    </nav>
      <div id="top-row-breaks" class="d-none d-md-block">
        <br><br>
      </div>
      <nav id="breadcrumb" aria-label="breadcrumb" role="navigation">
        <div class="container">
          <ol class="breadcrumb transparent">
{# PART 1 end #}
{# BREADCRUMB LIST HERE #}
{# PART 2 start #}
{#
          </ol>
        </div>
      </nav>
  </div>
</section>
#}
{# PART 2 end #}
