{# PART 1 start #}
<section class="header">
  <div class="welcome-bar bgc-1" id="header">
    <!-- Fox walking image -->
    <!-- Image borrowed and edited from https://pngtree.com/free-animal-vectors/fox -->
    <div id="fox-top" class="position-absolute d-none d-md-block">
      <img src="{{ url_for('static', filename='images/green_fox_night_cropped.png') }}"
           height="150" class=""
           alt="No image found">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Image borrowed and edited from https://pngtree.com/free-animal-vectors/fox -->
        <a class="navbar-brand top-bar" href="{{ url_for('core.index') }}">
          <img id="fox-icon"
               src="{{ url_for('static', filename='images/green_fox_logo1.png') }}"
               class="d-inline-block align-top rounded"
               alt="No image found"> Verdant Fox
        </a>
      </div>
    </nav>
      <div id="top-row-breaks" class="d-none d-md-block">
        <br><br>
      </div>
      <nav id="breadcrumb" aria-label="breadcrumb" role="navigation">
        <div class="container">
          <ol class="breadcrumb transparent">
{# PART 1 end #}
{# BREADCRUMB LIST HERE #}
{# PART 2 start #}
{#
          </ol>
        </div>
      </nav>
  </div>
</section>
#}
{# PART 2 end #}
