{% include "core/index/break.html" %}
<section class="spacer_image c-1"
         style="background-image:
                linear-gradient(
                  rgba(0, 0, 0, 0.3),
                  rgba(0, 0, 0, 0.3)
                ),
                url({{ url_for('static', filename='images/fox_backgrounds/fox-sneak-5.jpg') }})">
  <div class="spacer_image_text">
  <h1>Face challenges head on.</h1>
  <br class="mobile-only">
  <h3>Let's build something great together.</h3>
  </div>
</section>
{% include "core/index/break.html" %}
