{% include "core/index/break.html" %}
<section class="spacer_image c-1"
         style="background-image:
                linear-gradient(
                  rgba(0, 0, 0, 0.3),
                  rgba(0, 0, 0, 0.3)
                ),
                url({{ url_for('static', filename='images/fox_backgrounds/fox-sniff-cropped2.jpg') }})">
  <div class="spacer_image_text">
    <div class="mobile-only"><br><br><br></div>
    <div class="text-center">
      <h1>Always striving for improvement.</h1>
      <h3>Looking for opportunities wherever they lie.</h3>
    </div>
  </div>
</section>
{% include "core/index/break.html" %}
