<ul class="nav nav-pills flex-lg-row flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#blog">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#projects">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#skills">Skills</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#about">About</a>
  </li>
  <li class="nav-item">
      <a class="nav-link"
        href="{{ url_for('static', filename='documents/TheodoreWilliamsResume.pdf') }}" target="_blank">
      <i class="fa fa-download" aria-hidden="true"></i> Resume
    </a>
  </li>
</ul>
