{% extends "core/base.html" %}
{% set active_page = "settings" %}

{% block title %}
  Account Settings | Verdant Fox
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('core.index') }}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Account Settings</li>
{% endblock %}

{% block navbar %}
  {% include "users/navbar.html" %}
{% endblock %}

{% block content %}

<div class="container">
  <form  method="POST">
    {{ form.hidden_tag() }}

    <h1>Account Settings</h1>
    <br>

    <!-- Email -->
    <div class="form-group">
      {{ form.email.label(class="form-group") }}
      {{form.email(class='form-control', placeholder=form.email.description) }}
      {% for error in form.email.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>

    <!-- Password -->
    <div class="form-group">
      {{ form.new_pass.label() }}
      {{ form.new_pass(class="form-control", placeholder=form.new_pass.description) }}
      {% for error in form.new_pass.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
      <small id="passwordHelpBlock" class="form-text text-muted">
        Your password must meet the following criteria:
        <ul>
          <li>Length: 8-30 characters</li>
          <li>Contain at least 1 letter</li>
          <li>Contain at least 1 number</li>
        </ul>
      </small>
    </div>
    <div class="form-group">
      {{ form.pass_confirm.label() }}
      {{ form.pass_confirm(class="form-control", placeholder=form.pass_confirm.description) }}
      {% for error in form.pass_confirm.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>

    <!-- Timezone -->
    <div class="form-group">
      {{ form.timezone.label() }}
      {{ form.timezone(class="form-control", placeholder=form.timezone.description) }}
      {% for error in form.timezone.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>

    <!-- Submit -->
    <div class="text-center">
      {{ form.submit(class="btn btn-lg btn-green") }}
    </div>
  </form>
  <br><br><br>

  <div class="text-center">

    <!-- Social media connections -->
    <h2>Social media connections</h2><br>

    <!-- Facebook -->
    <h3><i class="fab fa-facebook-square"></i> Facebook</h3>
    {% if current_user.facebook_id %}
      <h5>Connected</h5>
      {% if can_disconnect %}
        <form method="post" action="{{ url_for('users.facebook_oauth_disconnect') }}">
          <button class="btn btn-green" type="submit">
            Disconnect from Facebook
          </button>
        </form>
      {% else %}
        <button class="btn btn-green" type="button" disabled>
          Disconnect from Facebook
        </button>
        <p style="color: red">
          You must have defined an email and password
          for your account before disconnecting from Facebook.
        </p>
      {% endif %}
    {% else %}
      <h5><a href="{{ url_for('users.facebook_oauth') }}">Connect to Facebook</a></h5>
    {% endif %}
    <br>

    <!-- Google -->
    <h3><i class="fab fa-google-plus-square"></i> Google</h3>
    {% if current_user.google_id %}
      <h5>Connected</h5>
      {% if can_disconnect %}
        <form method="post" action="{{ url_for('users.google_oauth_disconnect') }}">
          <button class="btn btn-green" type="submit">
            Disconnect from Google
          </button>
        </form>
      {% else %}
        <button class="btn btn-green" type="button" disabled>
          Disconnect from Google
        </button>
        <p style="color: red">
          You must have defined an email and password
          for your account before disconnecting from Google.
        </p>
      {% endif %}
    {% else %}
      <h5><a href="{{ url_for('users.google_oauth') }}">Connect to Google</a></h5>
    {% endif %}
    <br>

    <!-- GitHub -->
    <h3><i class="fab fa-github-square"></i> GitHub</h3>
    {% if current_user.github_id %}
      <h5>Connected</h5>
      {% if can_disconnect %}
        <form method="post" action="{{ url_for('users.github_oauth_disconnect') }}">
          <button class="btn btn-green" type="submit">
            Disconnect from GitHub
          </button>
        </form>
      {% else %}
        <button class="btn btn-green" type="button" disabled>
          Disconnect from GitHub
        </button>
        <p style="color: red">
          You must have defined an email and password
          for your account before disconnecting from Github.
        </p>
      {% endif %}
    {% else %}
      <h5><a href="{{ url_for('users.github_oauth') }}">Connect to GitHub</a></h5>
    {% endif %}
    <br><br><br>

    <!-- Delete Account -->
    <h2>Delete account?</h2>
    <p>Warning: data stored with all applications will be irreversibly lost.</p>

    <div class="form-group">
      <form method="post" action="{{ url_for('users.delete_account') }}">
          <div class="text-center">
            <input type="submit"
                  class="btn btn-danger btn-lg"
                onclick="return confirm(
                  'Are you sure you want to delete ' +
                  'account? All data associated with account will be ' +
                  'irreversibly lost.')"
                   name="delete-account" value="Delete account">
          </div>
      </form>
    </div>
  </div>
</div>
<br><br>


{% endblock %}
