{% extends "core/base.html" %}
{% set active_page = "edit_profile" %}

{% block title %}
  Verdant Fox | Edit Profile
{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('core.index') }}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
{% endblock breadcrumb %}

{% block navbar %}
  {% include "users/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="container">
  <form  method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {{ form.select_avatar() }}

    <div class="text-center">
      <h1>Edit Profile</h1>
      <br>

      <!-- Username -->
      <div class="form-group">
        {{ form.username.label(class="form-group") }}
        {{ form.username(class='form-control text-center', placeholder=form.username.description) }}
        {% for error in form.username.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>

      <!-- Full name -->
      <div class="form-row">
        <div class="form-group col-8">
          {{ form.full_name.label(class="form-group") }}
          {{ form.full_name(class='form-control text-center', placeholder=form.full_name.description) }}
          {% for error in form.full_name.errors %}
            <p class="error">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="col-1"></div>
        <div class="form-group col-3">
          <br>
          {{form.share_name(class="form-check-input", placeholder=form.share_name.description) }}
          {{ form.share_name.label(class="form-check-label") }}
          <p class="text-muted">Name visible in public profile?</p>
          {% for error in form.share_name.errors %}
            <p class="error">{{ error }}</p>
          {% endfor %}
        </div>
      </div>

      <!-- Current avatar -->
      <h4>Current Avatar:</h4>
      {% if current_user.avatar_location %}
        <img src="{{ current_user.avatar_location }}" alt="Image not found"
            height="400"
            class="default-avatar rounded" id="avatar-img">
      {% else %}
        <i id="alt-profile-img" class="img-thumbnail fas fa-user fa-10x"></i>
      {% endif %}

      <br>

      <!-- Select avatar -->
      <p>Select a New Avatar</p>
      {% for pic in default_pics %}
        <img src="{{ url_for('static', filename='images/avatars_default/{}'.format(pic)) }}"
        id="{{ pic }}"
        height="150"
        class="default-avatar rounded"
        alt="No image found">
      {% endfor %}
      <br><br>
      <p>-- OR --</p>
      <!-- Upload Avatar -->
      <div class="custom-file">
        {{ form.upload_avatar(class='custom-file-input') }}
        {{ form.upload_avatar.label(class="custom-file-label") }}
        {% for error in form.upload_avatar.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <p class="text-muted">Uploaded avatar will overwrite selected avatar.</p>
      <p>If you'd like to build your own avatar I recommend
        <a href="https://avatarmaker.com/" target="_blank">Avatar Maker</a> or
        <a href="https://www.faceyourmanga.com/editmangatar.php" target="_blank">
          Face Your Manga
        </a> for avatar building.
      </p>

      <!-- Bio -->
      <div class="form-group">
        {{ form.bio.label(class="form-group") }}
        {{ form.bio(class='form-control', placeholder=form.bio.description) }}
        {% for error in form.bio.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>

      <!-- Birth Date -->
      <div class="form-row">
        <div class="form-group col-8">
            {{ form.birth_date.label(class="form-group", ) }}
            {{ form.birth_date(class='form-control text-center', placeholder=form.birth_date.description) }}
            {% for error in form.birth_date.errors %}
              <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="col-1"></div>
        <div class="form-group col-3">
          <br>
          {{form.share_birth_date(class="form-check-input", placeholder=form.share_birth_date.description) }}
          {{ form.share_birth_date.label(class="form-check-label") }}
          <p class="text-muted">Birthdate visible in public profile?</p>
          {% for error in form.share_birth_date.errors %}
            <p class="error">{{ error }}</p>
          {% endfor %}
        </div>
      </div>

      <!-- Submit -->
      {{ form.submit(class="btn btn-lg btn-green") }}
    </div>
    
  </form>
  <br><br><br>
</div>

{% endblock content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/users/edit_profile.js') }}"></script>
{% endblock scripts %}
