<nav id="main-navbar" class="navbar sticky-top navbar-expand-lg navbar-light bgc-2">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="{{ url_for('core.index') }}">Verdant Fox!</a>
    <!-- Hamburger -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- In dropdown -->

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="nav nav-pills flex-lg-row flex-column">
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% if active_page == 'profile' %}active{% endif %}"
                href="{{ url_for('users.profile', username=current_user.username) }}">View Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_page == 'edit_profile' %}active{% endif %}"
                href="{{ url_for('users.edit_profile') }}">Edit Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_page == 'settings' %}active{% endif %}"
                href="{{ url_for('users.account_settings') }}">Settings</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link {% if active_page == 'login' %}active{% endif %}"
                href="{{ url_for('users.login', next=request.args.get('next')) }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  {% if active_page == 'register' %}active{% endif %}"
                href="{{ url_for('users.register', next=request.args.get('next')) }}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<br>
