{% extends "core/base.html" %}
{% set active_page = "register" %}

{% block navbar %}
  {% include "users/navbar.html" %}
{% endblock %}

{% block content %}

<h1 class="text-center">Register</h1><br>
<h3 class="text-center">Sign up through a social platform</h3>
<div class="social-logins text-center">
  <a title="Facebook login" href="{{ url_for('users.facebook_oauth') }}"><i class="fab fa-facebook-square fa-5x"></i></a>
  <span>&nbsp; &nbsp;</span>
  <a title="Google login" href="{{ url_for('users.facebook_oauth') }}"><i class="fab fa-google-plus-square fa-5x"></i></a>
  <span>&nbsp; &nbsp;</span>
  <a title="GitHub login" href="{{ url_for('users.github_oauth') }}"><i class="fab fa-github-square fa-5x"></i></a>
  <br>
</div>

<br><h5 class="text-center"><strong>-- OR --</strong></h5><br>
<h3 class="text-center">Create account with username/password</h3>

<div class="container">
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.email.label() }}
      {{ form.email(class="form-control", placeholder=form.email.description) }}
      {% for error in form.email.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.username.label() }}
      {{ form.username(class="form-control", placeholder=form.username.description) }}
      {% for error in form.username.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.password.label() }}
      {{ form.password(class="form-control", placeholder=form.password.description) }}
      {% for error in form.password.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
      <small id="passwordHelpBlock" class="form-text text-muted">
        Your password must meet the following criteria:
        <ul>
          <li>Length: 8-30 characters</li>
          <li>Contain at least 1 letter</li>
          <li>Contain at least 1 number</li>
        </ul>
      </small>
    </div>
    <div class="form-group">
      {{ form.pass_confirm.label() }}
      {{ form.pass_confirm(class="form-control", placeholder=form.pass_confirm.description) }}
      {% for error in form.pass_confirm.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="text-center">
      {{ form.submit(class="btn btn-lg btn-green") }}
    </div>
  </form>
</div>
<br><br>

{% endblock %}
