<div class="blog-view">
  <h1 class="blog-list-title">
    <a href="{{ url_for('blog.view', slug=post.slug) }}">{{ post.title }}</a>
    {% if post.published == False %}
      <span class="text-muted">[unpublished]</span>
    {% endif %}
  </h1>
  <hr class="bgc-3">
  <p class="text-right blog-list-stats">
    {{ post.created_timestamp.strftime('%B %d, %Y %I:%M %p') }} /
    {% if post.tags %}
      {% for tag in post.tags %}
        <a href="{{ url_for('blog.blog_list', tag=tag) }}">{{ tag }}</a>
      {% endfor %}
      /
    {% endif %}
    {{ post.comments|length }} comments
  </p>
  <hr class="bgc-3">
  {{ post.html_description|safe }}
  <h3 class="text-right">
    <a href="{{ url_for('blog.view', slug=post.slug) }}">Read more...</a>
  </h3>
  <br><br>
</div>
