<form name="blog_edit_form" method="POST">
  <br>
  {{ form.hidden_tag() }}
  {{ form.next_page() }}

  <!-- Title -->
  <div class="form-group">
    {{ form.title.label() }}
    {{ form.title(class="form-control", placeholder=form.title.description) }}
    {% for error in form.title.errors %}
      <p class="error">{{ error }}</p>
    {% endfor %}
  </div>

  <div class="form-row">
    <!-- Tags -->
    <div class="form-group col-8">
      {{ form.tags.label() }}
      {{ form.tags(class="form-control", placeholder=form.tags.description) }}
      {% for error in form.tags.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="col-1"></div>
    <!-- Publish -->
    <div class="form-group form-check col-3">
      <br>
      <div class="row">
        {{ form.can_comment(class="form-check-input", placeholder=form.can_comment.description) }}
        {{ form.can_comment.label(class="form-check-label") }}
        {% for error in form.can_comment.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="row">
        {{ form.publish(class="form-check-input", placeholder=form.publish.description) }}
        {{ form.publish.label(class="form-check-label") }}
        {% for error in form.publish.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="form-group">
    {{ form.description.label() }}
    {{ form.description(rows="7", class="form-control", placeholder=form.description.description) }}
    {% for error in form.description.errors %}
      <p class="error">{{ error }}</p>
    {% endfor %}
  </div>

  <!-- Content -->
  <div class="form-group">
    {{ form.content.label() }}
    {{ form.content(rows="15", class="form-control", placeholder=form.content.description) }}
    {% for error in form.content.errors %}
      <p class="error">{{ error }}</p>
    {% endfor %}
  </div>

  <!-- Submit -->
  <div class="text-center">
    {% if post %}
      {{
        form.submit(
          class="btn btn-lg btn-green",
          value="Submit and View",
          onclick="$('#next_page').val('view')",
        )
      }}
      {{
        form.submit(
          class="btn btn-lg btn-green",
          value="Refresh",
          onclick="$('#next_page').val('edit')",
        )
      }}
      {{
        form.submit(
          class="btn btn-lg btn-green",
          value="Edit Images",
          onclick="$('#next_page').val('edit_images')",
        )
      }}
      <a onclick="return confirm('Are you sure you want to delete post?')"
         class="btn btn-lg btn-danger"
         href="{{ url_for('blog.delete', slug=post.slug) }}">
        Delete Post
      </a>
      <br><br>
      {% include "blog/list_images.html" %}
    {% else %}
      {{
        form.submit(
          class="btn btn-lg btn-green",
          value="Submit and View",
          onclick="$('#next_page').val('view')",
        )
      }}
      {{
        form.submit(
          class="btn btn-lg btn-green",
          value="Submit and Edit",
          onclick="$('#next_page').val('edit')",
        )
      }}
      <br><br>
      <p>
        Images can only be uploaded in "Edit" mode after post is created.
        Submit post and edit to add images.
      </p>
    {% endif %}
  </div>
  <br>
</form>

<br><br><br>
