{% if post.images %}
  <h3>Uploaded Images:</h3>
  {% for image in post.images %}
    <br><br>
    <p>
      {% if edit_images %}
      <input class="btn btn-sm btn-danger"
             id="submit_image"
             name="submit_image"
             onclick="$('#delete_image').val('{{ image.location }}')"
             type="submit"
             value="Delete">
      {% endif %}
      ![{{ image.name }}]({{ image.location }})
    </p>
    <img src="{{ image.location }}" alt="Image not found">
  {% endfor %}
{% else %}
  <p>No Uploaded Images Found</p>
{% endif %}
