# Virtual environment files
venv/*
# Prettier does not currently handle jinja properly
root/templates/*
# Prettier messes up code highlight commenting
root/static/css/blog/codehighlight.css
# Ignore minified files
root/static/js/core/intercoolers.js
# Ignore test data
test_data/*
# Others
.mypy_cache/*
.pytest_cache/*
htmlcov/*
