{% extends "core/base.html" %}
{% set active_page = "budget" %}

{% block title %}
  Verdant Fox | Finance
{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('core.index') }}">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('finance.landing') }}">Finance</a></li>
  <li class="breadcrumb-item active" aria-current="page">Budget</li>
{% endblock breadcrumb %}

{% block navbar %}
  {% include "finance/navbar.html" %}
{% endblock navbar %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/finance/budget.css') }}">
{% endblock css %}

{% block content %}
<br>
<div class="container">
  <h1>Budget</h1>
  <p>
    Plan your budget out with this budget calculator. You can set individual
    asset and expenses with their occurence at intervals of your choosing,
    and view your total income and expenses using the same intervals to see
    if your current budget is gaining or losing money. Look at graphs
    to get a quick look at where your money is going so you can make
    adjustments.
    Take charge of your finances today by budgeting your lifestyle
    to fit your means!
  </p>
  <p>
    Your budget will temporarily save to your current session, so don't worry
    about leaving this page. If you want your budget to persist permanently
    outside of your current session,
    <a href="{{ url_for('users.register') }}">register an account</a>
    and <a href="{{ url_for('users.login') }}">login</a> to save your
    budget to your account so you can easily access it later and make
    adjustments over time. With an account you can create and delete multiple
    budgets as you see fit. Once saved, get a link to your budget to share it
    with others. Be the master of your financial destiny!
  </p>
  <div id="budget-inner">
    {% include "finance/budget_inner.html" %}
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/finance/budget.js') }}"></script>
{% endblock scripts %}
