<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.1.min.js"
        integrity="sha384-YF85VygJKMVnHE+lLv2AM93Vbstr0yo2TbIu5v8se5Rq3UQAUmcuh4aaJwNlpKwa"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.1.min.js"
        integrity="sha384-KKuas3gevv3PvrlkyCMzffFeaMq5we/a2QsP5AUoS3mJ0jmaCL7jirFJN3GoE/lM"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.1.min.js"
        integrity="sha384-MK/uFc3YT18pkvvXRl66tTHjP0/dxoSH2e/eiNMFIguKlun2+WVqaPTWmUy/zvh4"
        crossorigin="anonymous"></script>
<div id="budgetSummary-Collapse" class="fs-rem-1-4 collapse show">
  {% if graphs %}
  {{ graphs | safe }}
  {% else %}
  <h2>Graphs unavailable</h2>
  {% endif %}
</div>
