<option {% if period == 52 %}selected{% endif %} value="52">Weekly</option>
<option {% if period == 26 %}selected{% endif %} value="26">Fortnightly</option>
<option {% if period == 24 %}selected{% endif %} value="24">Bimonthly</option>
<option {% if period == 12 %}selected{% endif %} value="12">Monthly</option>
<option {% if period == 4 %}selected{% endif %} value="4">Quarterly</option>
<option {% if period == 2 %}selected{% endif %} value="2">Biannually</option>
<option {% if period == 1 %}selected{% endif %} value="1">Annually</option>
