<form id="budget-form" name="budget-form" method="GET">
  <div class="row calc-border">
    <div class="col-lg-6 card-body bgc-1">
      <div class="row">
        <div class="form-group col-sm-6">
          {{ form.initial.label }}
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            {{ form.initial(class='form-control', inputmode="numeric", type="number", step="1", min="1", max="10000000000000") }}
          </div>
          {% for error in form.initial.errors %}
          <p class="error">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="form-group col-sm-6">
          {{ form.nbr_of_years.label }}
          <div class="input-group">
            {{ form.nbr_of_years(class='form-control', inputmode="numeric", type="number", step="1", min="0", max="600") }}
            <div class="input-group-append">
              <span class="input-group-text">years</span>
            </div>
          </div>
          {% for error in form.nbr_of_years.errors %}
          <p class="error">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          {{ form.apy.label }}
          <div class="input-group">
            {{ form.apy(class='form-control', inputmode="decimal", type="number", step=".001", min="0", max="1000000") }}
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
            {% for error in form.apy.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="form-group col-sm-4">
          {{ form.compounding_period.label }}
          {{ form.compounding_period(class='form-control') }}
          {% for error in form.compounding_period.errors %}
          <p class="error">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="col-sm-4">
          {{ form.apy_variance.label }}
          <div class="input-group">
            {{ form.apy_variance(class='form-control', inputmode="decimal", type="number", step=".001", min="0", max="100000") }}
            <div class="input-group-append">
              <span class="input-group-text">%</span>
            </div>
            {% for error in form.apy_variance.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          {{ form.contributions.label }}
          {{ form.contributions(class='form-control') }}
          {% for error in form.contributions.errors %}
          <p class="error">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="form-group col-sm-4">
          {{ form.monthly_contrib.label }}
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            {{ form.monthly_contrib(class='form-control', inputmode="numeric", type="number", step="1", min="0", max="10000000000") }}
          </div>
          {% for error in form.monthly_contrib.errors %}
          <p class="error">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="form-group col-sm-4">
          {{ form.yearly_contrib.label }}
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            {{ form.yearly_contrib(class='form-control', inputmode="numeric", type="number", step="1", min="0", max="10000000000000") }}
          </div>
          {% for error in form.yearly_contrib.errors %}
          <p class="error">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm">
          <label for="submit">&nbsp;</label>
          <button id="submit" class="form-control btn btn-green">
            Submit
          </button>
        </div>
      </div>
    </div>

    <div class="col-lg-6 card-body pane-2">
      <p class="text-center header1">Future balance</p>
      <p class="text-center header-val1">{{ calc.str_money(calc.total_balance, False) if calc else "" }}</p>
      <p class="text-center header2">Total interest earned</p>
      <p class="text-center header-val2">{{ calc.str_money(calc.total_interest, False) }}</p>
      <p class="text-center header2">Doubling time (not considering contributions)</p>
      <p class="text-center header-val2">{{ "{:,.1f}".format(calc.doubling_period) }} years</p>
      <hr>
      <p class="principle-and-interst">Initial Balance <span class="float-right totals">{{ calc.str_money(calc.initial, False) if calc else "" }}</span></p>
      <p class="principle-and-interst">Total deposits <span class="float-right totals">{{ calc.str_money(calc.total_deposits, False) if calc else "" }}</span></p>
    </div>
  </div>

  <div class="row calc-border">
    <div class="col-12">
      <div id="graphs-collapse-toggle" data-toggle="collapse" data-target="#graphs-Collapse" aria-expanded="true" aria-controls="graphs-Collapse" class="cursor-pointer bottom-border">
        <h2 class="pad-left-sm">Summary Charts <i id="graphs-caret-down" class="fas fa-caret-down"></i><i id="graphs-caret-right" hidden class="fas fa-caret-right"></i></h2>
      </div>
      {% set graphs = calc.graphs_html if calc else "" %}
      {% include "finance/graphs.html" %}
    </div>
  </div>
  <div class="row calc-border">
    <div class="col-12 no-pad">
      <div id="table-collapse-toggle" data-toggle="collapse" data-target="#table-Collapse" aria-expanded="false" aria-controls="budgetSummary-Collapse" class="cursor-pointer">
        <h2 class="pad-left">Breakdown by Year <i id="table-caret-down" hidden class="fas fa-caret-down"></i><i id="table-caret-right" class="fas fa-caret-right"></i></h2>
      </div>
      <div id="table-Collapse" class="collapse">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" class="text-right">Year</th>
                <th scope="col" class="text-right">Deposits</th>
                <th scope="col" class="text-right">Interest</th>
                <th scope="col" class="text-right">Total Deposits</th>
                <th scope="col" class="text-right">Total Interest</th>
                <th scope="col" class="text-right">Balance</th>
              </tr>
            </thead>
            <tbody>
              {% for annual in calc.breakdown if calc %}
              <tr>
                <td class="text-right">{{ annual["year"] }}</td>
                <td class="text-right">{{ calc.str_money(annual["deposits"], False) }}</td>
                <td class="text-right">{{ calc.str_money(annual["interest"], False) }}</td>
                <td class="text-right">{{ calc.str_money(annual["total deposits"], False) }}</td>
                <td class="text-right">{{ calc.str_money(annual["total interest"], False) }}</td>
                <td class="text-right">{{ calc.str_money(annual["balance"], False) }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
