{% extends "core/base.html" %}
{% set active_page = "compound_interest" %}

{% block title %}
  Verdant Fox | Interest
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/finance/calculators.css') }}">
{% endblock css %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('core.index') }}">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('finance.landing') }}">Finance</a></li>
  <li class="breadcrumb-item active" aria-current="page">Compound Interest</li>
{% endblock breadcrumb %}

{% block navbar %}
  {% include "finance/navbar.html" %}
{% endblock navbar %}

{% block content %}
<br>
<div class="container">
  <h1>Compound Interest Calculator</h1>
  <p>
    Use this compound interest calculator to see how how much your investments
    now can pay off over time with compound interest. You can adjust the initial
    investment, add additional monthly and yearly payments (or withdrawls),
    adjust the expected APY (annual percent yield), and set a number of years
    into the future to see how investments look over time. See how changes to
    investments (or withdrawls) and increasing or decreasing interest rates
    affect your savings.
  </p>
  <p>
    How does compound interest work? Compound interest occurs when interest
    gets added to the principal amount invested or borrowed, and then the
    interest rate applies to the new (larger) principal. It's essentially
    interest on interest, which over time leads to exponential growth.
  </p>
  <p>
    This calculator assumes deposits/withdrawls are made on the first day of the
    term. ie. monthly contributions are made on the first day of the month,
    and additional annual contributions are made on the first day of the year.
    For the "Summary Charts" section, hover over charts (or touch them if
    you're on a mobile device) to see details about that part of the chart.
    The "Summary Charts" and "Interest Tables" sections are collapsable
    if you click (or touch) those section headers.
  </p>
  <div class="loan-inner">
    {% include "finance/interest_inner.html" %}
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/finance/calculators.js') }}"></script>
{% endblock scripts %}
