{% extends "core/base.html" %}
{% set active_page = "finance" %}

{% block title %}
  Verdant Fox | Finance
{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('core.index') }}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Finance</li>
{% endblock breadcrumb %}

{% block navbar %}
  {% include "finance/navbar.html" %}
{% endblock navbar %}

{% block content %}
<br>
<div class="container">
  <h1>Finance page</h1>
  <p>
    Check out my finance related web pages to get your finances in order.

    With the <a href="{{ url_for('finance.budget_page') }}">budget</a> app,
    you can create and edit budgets, complete with interactive graphs to
    get a sense of where your money is going so you can make changes as
    necessary.

    With the <a href="{{ url_for('finance.loan') }}">loan calculator</a>,
    you can calculate loan payments and interest paid over the course of a loan.

    With the <a href="{{ url_for('finance.compound_interest') }}">compound interest calculator</a>
    you can visualize how your investments can grow over time.

    With the <a href="{{ url_for('finance.net_worth') }}">net worth calculator</a>
    You can find out your net worth, and compare how you match up with others
    in your demographic.

    With the <a href="{{ url_for('finance.stocks') }}">stock purchase planner</a>
    you can look at current stock prices and their trends over time, as well
    as create a portfolio of stocks to track their performance.
  </p>
  <div class="list-group fs-rem-1-5">
    <a class="list-group-item list-group-item-action" href="{{ url_for('finance.budget_page') }}">Budget</a>
    <a class="list-group-item list-group-item-action" href="{{ url_for('finance.loan') }}">Loan calculator</a>
    <a class="list-group-item list-group-item-action" href="{{ url_for('finance.compound_interest') }}">Compound Interest calculator</a>
    <a class="list-group-item list-group-item-action" href="{{ url_for('finance.net_worth') }}">Net worth calculator</a>
    <a class="list-group-item list-group-item-action" href="{{ url_for('finance.stocks') }}">Stock purchase planner</a>
  </div>
</div>
{% endblock content %}
