{% extends "core/base.html" %}
{% set active_page = "loan" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/finance/calculators.css') }}">
{% endblock css %}

{% block title %}
  Verdant Fox | Finance
{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('core.index') }}">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('finance.landing') }}">Finance</a></li>
  <li class="breadcrumb-item active" aria-current="page">Loan Calculator</li>
{% endblock breadcrumb %}

{% block navbar %}
  {% include "finance/navbar.html" %}
{% endblock navbar %}

{% block content %}
<br>
<div class="container">
  <h1>Loan Calculator</h1>
  <p>
    Use this loan calculator to see how your loan changes based on changing
    conditions. You can adjust the initial loan amount, the loan period,
    the interest rate and additional payments made on top of the monthly minimum.
  </p>
  <p>
    See how changes to these categories change how much interest you pay
    over the course of the loan, how they affect your monthly payments,
    and how they affect your estimated payoff date.
    View your amortization schedule and charts reflecting principal and interest
    paid at various points over the course of the loan. This calculator can
    be used for school loan, mortgage, auto and any other fixed loan types.
  </p>
  <p>
    If you are in the middle of your loan, you can set the "Loan amount"
    to your current outstanding loan balance, and the "Loan period" to however
    many months (number of payments) are left on the loan.
  </p>
  <p>
    For the "Summary Charts" section, hover over charts (or touch them if
    you're on a mobile device) to see details about that part of the chart.
    The "Summary Charts" and "Amortization Scheudle" sections are collapsable
    if you click (or touch) those section headers.
  </p>
  <div class="loan-inner">
    {% include "finance/loan_inner.html" %}
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/finance/loan.js') }}"></script>
{% endblock scripts %}
