{% extends "core/base.html" %}

{% block title %}
  404 | Verdant Fox
{% endblock %}

{% block navbar %}
  {% include "error_pages/navbar.html" %}
{% endblock %}

{% block content %}
  <div class="jumbotron bgc-1">
    <div class="container text-center">
      <img height="150" src="{{ url_for('static', filename='images/core/oops_fox_green.png') }}" alt="Oops fox">
      <br><br>
      <h1 class="giant_text">{{ error.code }}</h1>
      <h2>{{ error.description }}</h2>
    </div>
  </div>
{% endblock %}