.budget-item,
.budget-item-creator {
  padding-top: 1.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 1.2rem;
  margin: 0 0 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.in-the-red {
  color: red;
}
.in-the-green {
  color: green;
}
.card-header {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
}
