.budget-item,
.budget-item-creator {
  padding-top: 1.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 1.2rem;
  margin: 0 0 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.cat-del-btn,
.item-del-btn {
  font-size: 1.2rem;
}

/* Switch out del button on hover */
.item-del-btn:hover .far,
.cat-del-btn:hover .far,
.item-del-btn .fas,
.cat-del-btn .fas {
  cursor: pointer;
  display: none;
}
.item-del-btn:hover .fas,
.cat-del-btn:hover .fas {
  cursor: pointer;
  display: inline;
}

.in-the-red {
  color: red;
}
.in-the-green {
  color: green;
}
.card-header {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
}
