<form method="POST" >
  {{ form.hidden_tag() }}

  <h1>Comments ({{ post.comments|length }})</h1>
  <hr class="bgc-2">
  <br>
  {% if current_user.is_authenticated %}
    <div class="row">
      <div>
        {% if current_user.avatar_location %}
        <img src="{{ current_user.avatar_location }}"
              height="100rem"
              alt="User avatar not found" class="rounded"
              id="thumbnail-profile-img">
        {% else %}
        <i class="fas fa-user"></i>
        {% endif %}
      </div>
      <div class="col-9">
        <div class="row">
          {{
            form.comment(
              class='form-control',
              placeholder=form.comment.description,
              rows="2",
            )
          }}
          {% for error in form.comment.errors %}
            <p class="error">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col text-right">
            <div class="btn-group btn-group-sm" role="group">
              <button id="cancel-comment" class="btn btn-danger">
                Cancel
              </button>
              <button class="btn btn-green"
                      ic-post-to="{{ url_for('blog.create_comment', slug=post.slug) }}"
                      ic-target='#comments-section'>
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% else %}
    Must <a href="{{ url_for('users.login', next=request.path) }}">log in</a>
    to comment. Not Registered? <a href="{{ url_for('users.register', next=request.path) }}">It's easy!</a>
  {% endif %}

  <br>
  <hr class="bgc-2">
  {% if post.comments %}
    {% for comment in post.comments %}
      {% set comment_user = comment_authors.get(comment.author) %}

      <div id="comment_{{ comment.id }}" class="container">
        <div class="row">
          <div class="col-11">
            <!-- Comment header -->
            <h5 class="comment-header">
              {% if comment_user.avatar_location %}
                <img src="{{ comment_user.avatar_location }}"
                      height="50rem"
                      alt="User avatar not found" class="rounded"
                      id="thumbnail-profile-img">
              {% else %}
                <i class="fas fa-2x fa-user"></i>
              {% endif %}
              <span>{{ comment_user.username if comment_user.username else "Anonymous (account deleted)" }}</span>
              | <span>{{ comment.created_timestamp.strftime('%B %d, %Y %I:%M %p') }}</span>
            </h5>
          </div>
          <div class="col-1">
            <!-- hamburger dropdown for edit/delete  -->
            {% if comment.author == current_user.id %}
              <div class="dropdown dropleft">
                <i class="fas fa-ellipsis-v"
                   type="button"
                   id="dropdownMenuButton_{{ comment.id }}"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                </i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item"
                          onclick="expandEdit('{{ comment.id }}')">Edit</button>
                  <button class="dropdown-item"
                          ic-post-to="{{ url_for('blog.delete_comment', slug=post.slug, comment_id=comment.id) }}"
                          ic-target='#comments-section'>Delete</button>
                </div>
              </div>
            {% endif %}
          </div>
        </div>

        <div id="comment_body_{{ comment.id }}">
          <!-- comment edit -->
          <div id="comment_edit_{{ comment.id }}" class="row" style="display: none;">
            <div class="col">
              <div class="row comment-padding">
                <textarea class="form-control" id="comment_edit_textarea_{{ comment.id }}" name="comment" placeholder="Comment" rows="2"></textarea>
              </div>
              <div class="row">
                <div class="col text-right">
                  <div class="btn-group btn-group-sm" role="group">
                    <button id="cancel-comment-edit-{{ comment.id }}"
                            class="btn btn-danger"
                            onclick="contractEdit('{{ comment.id }}')">
                      Cancel
                    </button>
                    <button class="btn btn-green"
                            onclick="setCommentEdit('{{ comment.id }}')"
                            ic-post-to="{{ url_for('blog.edit_comment', slug=post.slug, comment_id=comment.id) }}"
                            ic-target='#comments-section'>
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- comment content -->
          <div class="row">
            <p id="comment_content_{{ comment.id }}" class="font-adjust comment-padding">
              {{ comment.content }}
            </p>
          </div>
          <!-- Comment errors -->
          {% if failed_comment_id and failed_comment_id == comment.id|string %}
            <div class="row">
                <p class="error comment-padding">{{ comment_error }}</p>
            </div>
          {% endif %}
        </div>

        <!-- Reply button -->
        <div id="reply_button_{{ comment.id }}" class="row">
          <p class="comment-padding c-3 cursor-pointer"
             onclick="expandCreateReply('{{ comment.id }}')">
            reply
          </p>
        </div>
        <!-- Reply Create Field -->
        <div id="create_reply_{{ comment.id }}" class="row" style="display: none;">
          <div class="col">
            <div class="row comment-padding">
              <textarea class="form-control" id="reply_textarea_{{ comment.id }}" name="comment" placeholder="Comment" rows="2"></textarea>
            </div>
            <div class="row">
              <div class="col text-right">
                <div class="btn-group btn-group-sm" role="group">
                  <button id="cancel-reply-{{ comment.id }}"
                          class="btn btn-danger"
                          onclick="contractCreateReply('{{ comment.id }}')">
                    Cancel
                  </button>
                  <button class="btn btn-green"
                          onclick="setCreateReply('{{ comment.id }}')"
                          ic-post-to="{{ url_for('blog.create_reply', slug=post.slug, comment_id=comment.id) }}"
                          ic-target='#comments-section'>
                    Submit
                  </button>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>

        <!-- Replies list -->
        {% if comment.replies %}
          {% for reply in comment.replies %}
            {% set reply_user = comment_authors.get(reply.author) %}

            <!-- Reply -->
            <div id="reply_{{ reply.id }}" class="container reply-padding">
              <div class="row">
                <div class="col-11">
                  <!-- Reply header -->
                  <h6 class="reply-header font-adjust">
                    {% if reply_user.avatar_location %}
                      <img src="{{ reply_user.avatar_location }}"
                            height="35rem"
                            alt="User avatar not found" class="rounded"
                            id="thumbnail-profile-img">
                    {% else %}
                      <i class="fas fa fa-user"></i>
                    {% endif %}
                    <span>{{ reply_user.username if reply_user.username else "Anonymous (account deleted)" }}</span>
                    | <span>{{ reply.created_timestamp.strftime('%B %d, %Y %I:%M %p') }}</span>
                  </h6>
                </div>
                <div class="col-1">
                  <!-- hamburger dropdown for edit/delete  -->
                  {% if reply.author == current_user.id %}
                    <div class="dropdown dropleft">
                      <i class="fas fa-ellipsis-v"
                        type="button"
                        id="dropdownMenuButton_{{ reply.id }}"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                      </i>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item"
                                onclick="expandReplyEdit('{{ reply.id }}')">Edit</button>
                        <button class="dropdown-item"
                                ic-post-to="{{ url_for('blog.delete_reply', slug=post.slug, comment_id=comment.id, reply_id=reply.id) }}"
                                ic-target='#comments-section'>Delete</button>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
      
              <div id="reply_body_{{ reply.id }}">
                <!-- Reply edit -->
                <div id="reply_edit_{{ reply.id }}" class="row" style="display: none;">
                  <div class="col">
                    <div class="row comment-padding">
                      <textarea class="form-control" id="reply_edit_textarea_{{ reply.id }}" name="reply" placeholder="Comment" rows="2"></textarea>
                    </div>
                    <div class="row">
                      <div class="col text-right">
                        <div class="btn-group btn-group-sm" role="group">
                          <button id="cancel-reply-{{ reply.id }}"
                                  class="btn btn-danger"
                                  onclick="contractReplyEdit('{{ reply.id }}')">
                            Cancel
                          </button>
                          <button class="btn btn-green"
                                  onclick="setEditReply('{{ reply.id }}')"
                                  ic-post-to="{{ url_for('blog.edit_reply', slug=post.slug, comment_id=comment.id, reply_id=reply.id) }}"
                                  ic-target='#comments-section'>
                            Submit
                          </button>
                        </div>
                      </div>
                      <br><br>
                    </div>
                  </div>
                </div>
                <!-- Reply content -->
                <div class="row">
                  <p id="reply_content_{{ reply.id }}" class="comment-padding">
                    {{ reply.content }}
                  </p>
                </div>
                <!-- Reply errors -->
                {% if failed_reply_id and failed_reply_id == reply.id|string %}
                  <div class="row">
                      <p class="error comment-padding">{{ reply_error }}</p>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        {% endif %}

      </div>
      <br>
    {% endfor %}
  {% else %}
    <h5>This post has no comments yet.</h5>
  {% endif %}
  <br><br><br>
</form>
<script src="{{ url_for('static', filename='js/blog/blog_comments.js') }}"></script>
