{% extends "core/base.html" %}
{% set active_page = "edit_images" %}

{% block title %}
  Verdant Fox | Blog | Edit Images
{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('core.index') }}">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('blog.blog_list') }}">Blog</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('blog.view', slug=post.slug) }}">View Post</a></li>
  <li class="breadcrumb-item active" aria-current="page">Edit Images</li>
{% endblock breadcrumb %}

{% block navbar %}
  {% include "blog/navbar.html" %}
{% endblock navbar %}

{% block content %}
  {% set edit_images = True %}
  <div class="container">
    <div id="image_div">
      {% if post %}
        <div class="text-center">
          <a class="btn btn-green btn-block" href="{{ url_for('blog.edit', slug=post.slug) }}">Go To Edit</a>
        </div>
        <br>
        <form name="image_submit_form" method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          {{ form.delete_image() }}
          <div class="row">
            <div class="col-10">
              <div class="custom-file">
                {{ form.upload_image(class='custom-file-input') }}
                {{ form.upload_image.label(class="custom-file-label") }}
                {% for error in form.upload_image.errors %}
                  <p class="error">{{ error }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="col-2">
              {{ form.submit_image(class="btn btn-green") }}
            </div>
          </div>
          <br>
          <div class="text-center">
            {% include "blog/list_images.html" %}
          </div>
        </form>
      {% endif %}
    </div>
  </div>
  <br><br><br>
{% endblock content %}







