{% extends "core/base.html" %}
{% set active_page = "edit" %}

{% block title %}
  Verdant Fox | Blog | Edit
{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('core.index') }}">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('blog.blog_list') }}">Blog</a></li>
  <li class="breadcrumb-item active" aria-current="page">Edit</li>
{% endblock breadcrumb %}

{% block navbar %}
  {% include "blog/navbar.html" %}
{% endblock navbar %}

{% block content %}
  <div class="container">
    {% include "blog/create_edit_post_form.html" %}
  </div>
{% endblock content %}
