{% extends "core/base.html" %}
{% set active_page = "blog_list" %}

{% block title %}
  Verdant Fox | Blog
{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('core.index') }}">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Blog</li>
{% endblock breadcrumb %}

{% block navbar %}
  {% include "blog/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="container">
  <br>
  <div class="row">
    <!-- Using columns to artificial reduce container size -->
    <div class="col-lg-1"></div>
    <div class="col-lg-10 blog-post">
      {% for post in paginator.items %}
        {% include "blog/blog_list_item.html" %}
      {% endfor %}
      
      {% include "blog/paginator.html" %}
    </div>
    <div class="col-lg-1"></div>
  </div>
  <br>
</div>
{% endblock content %}
