{% extends "core/base.html" %}
{% set active_page = "tags" %}

{% block title %}
  Verdant Fox | Blog Tags
{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('core.index') }}">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('blog.blog_list') }}">Blog</a></li>
  <li class="breadcrumb-item active" aria-current="page">Tags</li>
{% endblock breadcrumb %}

{% block navbar %}
  {% include "blog/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="container">
  <br>
  <div class="row">
    <!-- Using columns to artificial reduce container size -->
    <div class="col-lg-1"></div>
    <div class="col-lg-10 blog-post">
      <h1>Blog Entries by Tags</h1>
      <hr class="hr-thick bgc-2">
      <ul>
        {% for tag, count in tag_counts.items() %}
           <li class="li-large"><a href="{{ url_for('blog.blog_list', tag=tag) }}">{{ tag }}</a> ({{ count }})</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <br>
</div>
{% endblock content %}
