{% extends "core/base.html" %}
{% set active_page = None %}

{% block title %}
  Verdant Fox | Blog | View
{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('core.index') }}">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('blog.blog_list') }}">Blog</a></li>
  <li class="breadcrumb-item active" aria-current="page">View Post</li>
{% endblock breadcrumb %}

{% block navbar %}
  {% include "blog/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- Using columns to artificial reduce container size -->
    <div class="col-lg-1"></div>
    <div class="col-lg-10 blog-post">
      <h1>
        {{ post.title }}
        {% if post.published == False %}
          <span class="text-muted">[unpublished]</span>
        {% endif %}
        {% if post.author == current_user.id %}
          <a href="{{ url_for('blog.edit', slug=post.slug) }}">* Edit *</a>
        {% endif %}
      </h1>
      <hr class="bgc-2 hr-thick">
      <p class="text-right">
        {{ post.created_timestamp.strftime('%B %d, %Y %I:%M %p') }} / 
        {% if post.tags %}
          {% for tag in post.tags %}
            <a href="{{ url_for('blog.blog_list', tag=tag) }}">{{ tag }}</a>
          {% endfor %}
          /
        {% endif %}
        {{ post.comments|length }} comments
      </p>
      <hr class="bgc-2 hr-thick">
      <div class="blog-view">
        {{ post.html_content | safe }}
      </div>
      <br><br><br>
      <div id="comments-section">
        {% include "blog/comments.html" %}
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
{% endblock content %}
