{% extends "core/base.html" %}
{% set active_page = None %}

{% block title %}
  Verdant Fox | {{ post.title }}
{% endblock title %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{{ url_for('core.index') }}">Home</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('blog.blog_list') }}">Blog</a></li>
  <li class="breadcrumb-item active" aria-current="page">View Post</li>
{% endblock breadcrumb %}

{% block navbar %}
  {% include "blog/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- Using columns to artificial reduce container size -->
    <div class="col-lg-1"></div>
    <div class="col-lg-10 blog-post">
      <h1>
        {{ post.title }}
        {% if post.published == False %}
          <span class="text-muted">[unpublished]</span>
        {% endif %}
        {% if post.author == current_user.id %}
          <a href="{{ url_for('blog.edit', slug=post.slug) }}">* Edit *</a>
        {% endif %}
      </h1>
      <hr class="bgc-2 hr-thick">
      <p class="text-right">
        {{ post.created_timestamp.strftime('%B %d, %Y %I:%M %p') }} /
        {% if post.tags %}
          {% for tag in post.tags %}
            <a href="{{ url_for('blog.blog_list', tag=tag) }}">{{ tag }}</a>
          {% endfor %}
          /
        {% endif %}
        {{ post.comments|length }} comments
      </p>
      <hr class="bgc-2 hr-thick">
      <div class="blog-view">
        {{ post.html_content | safe }}
        <div>
          <br>
          <hr class="bgc-2">
          <h1 class="text-center">About the author</h1>
          <hr class="bgc-2">
          <img width="300"
               class="text-left"
                 src="{{ url_for('static', filename='images/core/suit_headshot_cropped.jpg') }}"
                 alt="Theodore Williams" title="Theodore Williams">
        </div>
        <p>
          Hi, my name is Teddy Williams. I'm a software developer with a
          special love for python programming. I have a wide range of
          programming interests including web development, hobby videogame
          development, IOT, datascience and just writing scripts to automate
          every-day boring tasks. I'd love it if you
          <a href="{{ url_for('blog.blog_list') }}">check out some of my other posts</a>
          or <a href="{{ url_for('core.index') }}">take a look at my portfolio</a>! :)
        </p>
        <p>
          Thanks for reading this post. If you like the post or if you have
          any questions or comments I'd love to hear about it in the
          comments below. Thanks, and happy coding!
        </p>
      </div>
      <br><br><br>
      <div id="comments-section">
        {% include "blog/comments/comments.html" %}
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/blog/blog.js') }}"></script>
{% endblock scripts %}
