{# Part 1 start #}
{#
<nav id="main-navbar" class="navbar sticky-top navbar-expand-lg navbar-light bgc-2">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="{{ url_for('core.index') }}">Verdant Fox!</a>
    <!-- Hamburger -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- In dropdown -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
#}
{# Part 1 end #}
{# Inner navbar here #}
{# Part 2 start #}
    </div>
  </div>
</nav>
{# Part 2 end #}
