html {
  font-size: 18px;
}

body {
  color: #202e24;
}

/* Adjust some bootstrap */

.alert {
  font-size: 1.2rem;
}

/* End bootstrap adjustments */

.dropdown-item:active {
  background-color: #347a2a;
}

.border {
  border: 2px solid black;
}

.transparent {
  background: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
}

.spacer_image {
  width: 100%;
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top_image {
  width: 100%;
  height: 500px;
  /*background-attachment: local;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ebe8be;
}

.error {
  color: red;
}

.pad:before {
  content: " ";
  display: inline-block;
  width: 4px;
}

.errorlist {
  color: red;
  padding: 0;
  list-style-type: none;
  font-weight: bold;
}

#avatar-img {
  max-height: 400px;
  max-width: 100%;
}

.welcome-bar {
  z-index: 2;
}

#main-navbar {
  z-index: 20;
}

#main-dropdown {
  z-index: 10000;
}

.top-bar {
  font-size: 1.5rem;
}

.profile-list {
  padding: 0;
  list-style-type: none;
  font-size: 1.4rem;
}

.bio {
  font-size: 0.8rem;
}

.cursor-pointer {
  cursor: pointer;
}

.extra-padding {
  padding: 10px;
}

.container-small {
  max-width: 80%;
}

.container-xs {
  max-width: 70%;
}

.font-adjust {
  font-size: 1.1rem;
  font-weight: 500;
}

.top-row {
  margin-bottom: 0;
  /* without transparent border there is a margin I can't get rid of*/
  border-bottom: 1px solid transparent;
}

.footer {
  height: 60vh;
  background-color: #202e24;
  color: #ebe8be;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

/* fox image */
#fox-top {
  width: 180px;
  height: 150px;
  z-index: 1;
  vertical-align: top;
  /*border: 2px solid black;*/
  top: 1%;
  left: 55%;
  margin-left: -90px; /* Negative half of width. */
}

/* Set color scheme here */
text {
  color: #202e24;
}

.card-body {
  background-color: #feffef;
  border: 1px solid #202e24;
  border-radius: 0.3rem;
}

/* Buttons */
.btn-green {
  color: #fff;
  background-color: #202e24;
  border-color: #202e24;
}

.btn-green:hover {
  color: #fff;
  background-color: #3f5a47;
  border-color: #3f5a47;
}

/* Buttons */
.btn-light-green {
  color: #fff;
  background-color: #347a2a;
  border-color: #347a2a;
}

.btn-light-green:hover {
  color: #fff;
  background-color: #369b2b;
  border-color: #369b2b;
}

/* Badges */
.badge-green {
  color: #fff;
  background-color: #347a2a;
  border-color: #347a2a;
}

.badge-green:hover {
  color: #fff;
  background-color: #359d2b;
  border-color: #359d2b;
  text-decoration: none;
}

.btn-outline-green {
  color: #347a2a;
  background-color: transparent;
  background-image: none;
  border-color: #347a2a;
}

.btn-outline-green:hover {
  color: #fff;
  background-color: #347a2a;
  border-color: #347a2a;
}

/* Theme colors */
.bgc-1 {
  background-color: #ebe8be;
}

.bgc-2 {
  background-color: #b3c87a;
}

.bgc-3 {
  background-color: #347a2a;
}

.bgc-4 {
  background-color: #202e24;
}

.bgc-5 {
  background-color: #defbc2;
}

.bgc-6 {
  background-color: #90d26d;
}

.bgc-7 {
  background-color: #459d72;
}

.bgc-8 {
  background-color: #342b2b;
}
.bgc-black {
  background-color: black;
}
.bgc-red {
  background-color: red;
}
.bgc-blue {
  background-color: blue;
}

.c-1 {
  color: #ebe8be;
}

.c-2 {
  color: #b3c87a;
}

.c-3 {
  color: #347a2a;
}

.c-4 {
  color: #202e24;
}

.c-5 {
  color: #defbc2;
}

.c-6 {
  color: #90d26d;
}

.c-7 {
  color: #459d72;
}

.c-8 {
  color: #342b2b;
}
.c-black {
  color: black;
}
.c-red {
  color: red;
}
.c-blue {
  color: blue;
}

.info-color {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

a {
  color: #006600;
}

a:hover {
  color: #009900;
}

a.remove-underline {
  text-decoration: none;
}

#breadcrumb {
  position: relative;
  z-index: 100;
}

.position-absolute {
  position: absolute;
}

/* Pagination CSS */
/* https://www.jquery-az.com/bootstrap-4-pagination-9-demos-custom-default-css/ */

/* Pagination links not active */
.page-link {
  color: #202e24;
  background-color: #d8ebeb;
  border: 1px solid #346767;
}

/* Change pagination disabled color */
.page-item.disabled .page-link {
  color: #868e96;
  cursor: auto;
  background-color: #d8ebeb;
  border-color: #718393;
}

/* Active item color */
.page-item.active .page-link {
  color: #fff;
  background-color: #202e24;
  border-color: #202e24;
}

/* Change pagination active hover color */
.page-item.active .page-link:hover {
  color: #fff;
  background-color: #202e24;
  border-color: #202e24;
}

/* Change pagination hover color */
.page-link:hover {
  color: #fff;
  background-color: #b3c87a;
  border-color: #202e24;
}

.body {
  position: relative;
}

/* Nav Tabs CSS */

.navbar-brand {
  font-size: 1.3rem;
}

#top-brand {
  font-size: 1.6rem;
}

#userDropdownMenuLink,
.breadcrumb-item {
  font-size: 1.2rem;
}

.nav-item {
  font-size: 1.1rem;
}

.nav-tabs {
  border-bottom: 1px solid #202e24;
  /*border: 5px solid black;*/
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #202e24;
  background-color: #ebe8be;
}

.nav-link {
  color: #ebe8be;
}
.nav-link:hover {
  color: #b3c87a;
}
#home-link {
  color: #ebe8be;
}
#home-link:hover {
  color: #b3c87a;
}

#fox-icon {
  height: 2.25rem;
}

.skill-image {
  width: 11rem;
}

.big-break {
  font-size: 10px;
}

.mobile-only {
  display: none;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* User avatars */
.default-avatar {
  margin: 2px;
  border: 6px solid white;
}
.avatar-selected {
  border: 6px solid #b3c87a;
}

/* Blog stuff */

.container-blog {
  max-width: 100%;
}

.blog-view {
  font-size: 1.1rem;
}

.blog-view img {
  max-height: 600px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-view p {
  text-align: justify;
}

.blog-list-title {
  font-size: 2rem;
  font-weight: 500;
}
.blog-view .blog-list-stats {
  font-size: 1rem;
}
.blog-view h1 {
  font-size: 2rem;
}
.blog-view h2 {
  font-size: 1.8rem;
}
.blog-view h3 {
  font-size: 1.6rem;
}
.blog-view h4 {
  font-size: 1.4rem;
}
.blog-view h5 {
  font-size: 1.3rem;
}
.blog-view h6 {
  font-size: 1.2rem;
}
.blog-view hr {
  background-color: #006600;
}
.primary-comment-padding {
  padding-left: 7rem;
}
.comment-padding {
  padding-left: 4.1rem;
}
.reply-padding {
  padding-left: 3.3rem;
}
.blog-view h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 1rem;
}
.blog-view a {
  font-weight: 600;
}

.blog-view code {
  color: purple;
  font-weight: 600;
}
.blog-view pre code {
  font-weight: 500;
}
.toc {
  background-color: #ebe8be;
  border: 2px solid #347a2a;
  margin: 2rem 0 2rem 0;
  border-radius: 1rem;
  padding: 1rem 1rem 0 1rem;
}

/* End blog stuff */

.hr-thick {
  border-width: 0.3rem;
}
.li-large {
  font-size: 1.3rem;
}

/* Phone or tablet adjustments */
@media only screen and (max-device-width: 720px) {
  .mobile-no-display {
    display: none;
  }

  .mobile-only {
    display: inline;
  }
}

/* phone size adjustments */
@media only screen and (max-device-width: 480px) {
  .skill-image {
    width: 8rem;
  }

  .footer {
    height: 70vh;
    font-size: 0.9rem;
  }

  .top_image {
    height: 30vh;
  }

  .top_image h1 {
    font-size: 1.5rem;
  }

  .spacer_image {
    height: 35vh;
  }

  .spacer_image h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  .spacer_image h3 {
    text-align: center;
    font-size: 1rem;
  }

  h4 {
    text-align: center;
    font-size: 1px;
  }

  #main-navbar .navbar-brand {
    font-size: 1.25rem;
  }

  .welcome-bar {
    font-size: 0.9rem;
  }

  #fox-icon {
    height: 1.6rem;
  }
}
