<section class="footer">
  <div class="container">
    <p class="text-center">Thank you for visiting my portfolio! I hope you enjoyed it.</p>
    <br>
    <p class="text-center">Want to talk to me about a project?</p>
    <p class="text-center">
      Reach out to me by email, or on LinkedIn, GitHub or Twitter.
    </p>
    <br>
    <p class="text-center">theodore.f.williams@gmail.com</p>
    <div class="social-logins text-center">
      <a class="remove-underline" title="Theodore's LinkedIn"
         href="https://www.linkedin.com/in/theodore-f-williams"
         target="_blank">
        <i class="fab fa-linkedin fa-3x"></i>
      </a>
      <span>&nbsp; &nbsp;</span>
      <a class="remove-underline" title="Theodore's GitHub"
         href="https://github.com/VerdantFox"
         target="_blank">
        <i class="fab fa-github-square fa-3x"></i>
      </a>
      <span>&nbsp; &nbsp;</span>
      <a class="remove-underline" title="Theodore's Twitter"
         href="https://twitter.com/VerdantFox17"
         target="_blank">
        <i class="fab fa-twitter-square fa-3x"></i>
      </a>
    </div>
  </div>
  <br>
</section>