<section class="skills">
  <div id="skills">
    <h2 class="text-center">Skills</h2>
    {% include "core/index/break.html" %}
    {# container-small is a narrower container (custom css) #}
    {# mx-auto centers the narrowed container #}
    {# text-center centers the images within the container #}
    <section class="skills-pictures">
      <div class="container text-center">
        <div class="row">
          <div class="col"></div>
          <div class="col-xl-10">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/python.png') }}"
             alt="Python" title="Python">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/Bash.png') }}"
             alt="Bash" title="Bash">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/linux.png') }}"
             alt="Linux" title="Linux">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/Xquery.png') }}"
             alt="XQuery" title="XQuery">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/xml.png') }}"
             alt="XML" title="XML">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/Marklogic.png') }}"
             alt="MarkLogic" title="MarkLogic">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/pandas_logo.png') }}"
             alt="Pandas" title="Pandas">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/django.png') }}"
             alt="Django" title="Django">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/flask.png') }}"
             alt="Flask" title="Flask">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/git.png') }}"
             alt="Git" title="Git">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/Bootstrap.png') }}"
             alt="Bootstrap" title="Bootstrap">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/js.png') }}"
             alt="Javascript" title="Javascript">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/HTML5.png') }}"
             alt="HTML5" title="HTML5">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/CSS3.png') }}"
             alt="CSS3" title="CSS3">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/jquery.png') }}"
             alt="JQuery" title="JQuery">
            <img class="extra-padding skill-image"
             src="{{ url_for('static', filename='images/skills/SQLite.png') }}"
             alt="SQLite" title="SQLite">
          </div>
          <div class="col"></div>
        </div>
      </div>
    </section>
  </div>
</section>
