<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    {% include "core/base/favicons.html" %}
    {% include "core/base/imports.html" %}
    {% block css %}{% endblock css %}
    <title>
      {% block title %}{% endblock title %}
    </title>
  </head>
  <body
    {% if active_page == "index" %}
      data-spy="scroll" data-target="#main-navbar" data-offset="65"
    {% endif %}>

    {% block fixes %}{% endblock fixes %}
    {% include "core/base/header_part_1.html" with context %}
    {% block breadcrumb %}{% endblock breadcrumb %}
    {% include "core/base/header_part_2.html" with context %}
    {% block navbar %}{% endblock navbar %}
    {% include 'core/base/flash_messages.html' %}
    {% block content %}{% endblock content %}
    <script src="{{ url_for('static', filename='js/core/master.js') }}"></script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
